body {
    font-family: 'Lora', serif; /* Updated with your chosen font */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4f4f4;
}

section {
    padding: 2em;
    margin: 2em auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.8em;
    color: #1a1a1a;
    margin-top: 0;
}

h3 {
    font-size: 1.4em;
    color: #333;
}

p {
    line-height: 1.6;
    margin-bottom: 1.5em;
    font-size: 1.1em;
}

ul {
    padding-left: 1.2em;
}

ul li {
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project {
    margin-bottom: 1em;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Define the custom cursor */
.custom-cursor {
    position: fixed;
    width: 24px; /* Adjust the size of the cursor */
    height: 24px; /* Adjust the size of the cursor */
    background-color: transparent; /* Make the cursor transparent */
    pointer-events: none; /* Ensure the cursor does not interfere with mouse events */
    z-index: 9999; /* Ensure the cursor appears on top of other elements */
    mix-blend-mode: difference; /* Blend mode for better visibility */
    transition: transform 0.2s ease; /* Add a transition effect */
}

/* Define the cursor image */
.custom-cursor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('openhand.svg'); /* Replace 'cursor.png' with your custom cursor image */
    background-size: cover;
}

/* Hide the default cursor */
body {
    cursor: none;
}
